article{
    width:100%;
    margin: 1cm auto;
    padding-top:1cm;
    background-color: darkgreen;
    color:white;
}
article p{
    color:white;
    padding:0.3cm;
    line-height: 1.5em;
}
h1{
    color:white;
}